// Source Paths
$pathFont: '../font/';
$pathImage: '../image/';

// Sprite Images
$spriteDefault: 'sprite-default.png';

// Fonts
$fontArial: Arial, sans-serif;

// Breakpoint sizes
$breakpoints: (
	'x-small': '(max-width: 479px)',
	'small': '(max-width: 767px)',
	'medium': '(max-width: 1024px)',
	'large': '(min-width: 1025px)',
);

// Sizes

// Colors
$darkGreen: #719101;
$lightGreen: #b5c480;

$Grey: #999;
$lightGrey: #bbb;
$lighterGrey: #ddd;
$lightestGrey: #eee;

$darkText: #222;


// Z-indexes
$layout: default;