{% extends "::adminbase.html.twig" %}
{% block title %} Admin | Importeren {% endblock %}

{% block body %}
<h2>Importeren: succesvol</h2>

	<p> Het importeren was succesvol was "{{ status }}".</p>
	<ul>
		<li>Er zijn {{ amountProducts }} producten geimporteerd</li>
		<li>Er zijn {{ amountCategories }} nieuwe categorien aangemaakt</li>
		<li>Er zijn {{ amountBrands }} nieuwe merken aangemaakt</li>
	</ul>
{% endblock %}
