{% extends "::adminbase.html.twig" %}
{% block title %} Admin | Index {% endblock %}
{% block body %}
	<h2>Overzicht</h2>
	<p>
		Hier kun je de inhoud van je website beheren, statistieken opvragen etc.
	</p>
{% endblock %}


